---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Generate Link'>
	<div class="flex justify-center"><button id='generateLink'>generate link</button></div>
</Layout>
<script>
	const btn = document.getElementById('generateLink');
	btn?.addEventListener('click', async () => {
		const { link } = await (await fetch('./generate/generate')).json();
		document.body.appendChild(document.createElement('div')).innerHTML = `<a href="/generate/${link}">${link}</a>`;
	});

</script>