---
import Layout from "../layouts/Layout.astro";
import { checkLogin, getChildren, isLoggedIn } from "../utils/db";
const cookies = Astro.request.headers.get('cookie');

// const loggedIn = await isLoggedIn(familyShareAccessToken);
const loggedIn = await checkLogin(cookies);
if (!loggedIn.loggedIn) {
	return Astro.redirect('/welcome');
}
// const children = await getChildren(familyShareAccessToken);
const children = [];
---

<Layout title="Welcome to your favorite place to view your pictures">
	<div class="">
		<header class='text-center'>
			<h1>Welcome to your favorite place to view pictures of your beloved ones</h1>
			{loggedIn.access === 'guest' ? <p>
				You are using guest mode
			</p> : null}
		</header>
		<main>
			<!-- <ul>
				{children.map(child => (
				<li>
					<a href={`${child.hash}`}>{child.name}</a>
				</li>
				))}
			</ul> -->
		</main>
	</div>
</Layout>