---
import Layout from "../layouts/Layout.astro";
import { getChildren, isLoggedIn } from "../utils/db";
const cookies = Astro.request.headers.get('cookie');
const familyShareAccess = cookies?.split('; ').find(item => item.startsWith('familyShareAccess='));
const familyShareAccessToken = familyShareAccess?.split('=')[1];
const loggedIn = await isLoggedIn(familyShareAccessToken);
if (!loggedIn) {
	return Astro.redirect('/welcome');
}
const children = await getChildren(familyShareAccessToken);

---

<Layout title="Welcome to your favorite place to view your pictures">
	<div class="">
		<header class='text-center'>
			<h1>Welcome to your favorite place to view pictures of your beloved ones</h1>
			<p>
				You are using guest mode
			</p>
		</header>
		<main>
			<ul>
				{children.map(child => (
				<li>
					<a href={`${child.hash}`}>{child.name}</a>
				</li>
				))}
			</ul>
		</main>
	</div>
</Layout>