---
import Layout from "../layouts/Layout.astro";
const cookie = Astro.request.headers.get('cookie');
const familyShareAccess = cookie?.split('; ').find(item => item.startsWith('familyShareAccess='))?.split('=')[1];
---

<Layout title="Welcome to your favorite place to view your pictures">
	{!familyShareAccess && <div class="">
		<p>Looks like you don't have access yet.</p>
		<div>Want to share? Sign up</div>
	</div>}
	{familyShareAccess && (
	<div class="">
		<header class='text-center'>
			<h1>Welcome to your favorite place to view pictures of your beloved ones</h1>
			<p>
				You are using guest mode
			</p>
		</header>
		<main>
			<ul>
				<li><a href='./baby1' class="text-blue-500 underline">baby1</a></li>
			</ul>
		</main>
	</div>
	)}
</Layout>