---
import Layout from '../layouts/Layout.astro';
---

<Layout title='welcome'>
	<h1>Welcome to the family photo sharing web app.</h1>
	<p>you currently don't have access to any photo albums.</p>
	<p>If you want to share for your own photos for your family create an account</p>
	<a href='#'>Sign Up</a>
</Layout>