---
import Layout from '../layouts/Layout.astro';
import img from '../assets/baby.jpg';
Astro.response.headers.set('Cache-Control', 'max-age=43200,stale-while-revalidate=43200,stale-if-error=43200');
---

<Layout title='welcome'>
	<div class="overflow-hidden rounded-[1.5rem] lg:max-w-3xl lg:mx-auto">
		<img src={img} />
	</div>
	<div class="mt-6 mb-8 text-center lg:text-xl">
		<p>
			You have not been invited to view any pictures.
		</p>
	</div>
</Layout>

<style>
	img {
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
		object-fit: cover;
		object-position: 0 40%;
		transform: scale(1.3)
	}
</style>