---
import type { Resources } from '../utils/cloudinary';
import ImageList from './ImageList';
export type Props = {
  images: Resources[];
  child: string;
  nextCursor: string | null;
};

const { images, nextCursor } = Astro.props as Props;
---

{/*<span>Third Month (23.04.22 - 22.05.22)</span>*/}
<!-- <div class="grid grid-cols-4 gap-2 image-container">

	<ImageList images={images} client:idle />

</div> -->
<ImageList images={images} cursor={nextCursor} client:idle />
