---
import { checkLogin } from "../../utils/db";

const cookies = Astro.request.headers.get('cookie');

try {
	const loggedIn = await checkLogin(cookies);
	if (loggedIn.access !== 'account') {
		return Astro.redirect('/');
	}
} catch (e) {
	return Astro.redirect('/');
}
---

<form method="post" enctype="multipart/form-data">
	<input type="file" name="file" multiple />
	<input type='text' name='text' />
	<button type="submit">Submit</button>
</form>



<script>
	const signData = await (await fetch('/api/cloudinary')).json();
	const url = "https://api.cloudinary.com/v1_1/" + signData.cloudname + "/auto/upload";

	const form = document.querySelector("form")!;

	form.addEventListener("submit", async (e) => {
		e.preventDefault();

		const files = (document.querySelector("[type=file]") as HTMLInputElement)!.files!;
		const formData = new FormData();

		// Append parameters to the form data. The parameters that are signed using 
		// the signing function (signuploadform) need to match these.
		for (const file of files) {
			formData.append("file", file);
			formData.append("api_key", signData.apikey);
			formData.append("timestamp", signData.timestamp);
			formData.append("signature", signData.signature);
			formData.append("folder", signData.folder);
			fetch(url, {
				method: "POST",
				body: formData
			})
				.then((response) => {
					return response.text();
				})
				.then((data) => {
					console.log(JSON.parse(data))
				}).catch(e => console.error(e));
		}
	});
</script>