---
import Layout from "../../layouts/Layout.astro";
import { supabase } from "../../utils/supabase";

type TForm = {
	name: string;
	email: string;
	password: string;
	passwordConfirmation: string;
};
let respError = '';
if (Astro.request.method === 'POST') {
	const formData = await Astro.request.formData();
	const entries = Object.fromEntries(formData) as TForm;
	const { user, session, error } = await supabase.auth.signUp(
		{
			email: entries.email,
			password: entries.password,
		},
		{
			redirectTo: '/', data: {
				name: entries.name,
			}
		}
	);
	if (error) {
		respError = error.message;
	}
	console.log(user, session, error);
}
---

<Layout title="Sign up">
	<form method="post">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" />
		<label for="email">Email</label>
		<input type="email" id="email" name="email" />
		<label for="password">Password</label>
		<input type="password" id="password" name='password' />
		<button>Submit</button>
	</form>
	{respError && <p>{respError}</p>}
</Layout>