---
import { supabase } from "../utils/supabase";
import type { User } from "@supabase/supabase-js";

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
const authCookie = Astro.request.headers.get('cookie')?.split('; ').find(cookie => cookie.startsWith('access_token='))?.split('=')[1];
let user: User | null = null;
if (authCookie) {
	user = (await supabase.auth.api.getUser(authCookie)).user;
}
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
</head>

<body class="container mx-auto">
	{user ? <div>{user.email}</div> : <a href='/login'>Login</a>}
	<slot />
</body>

</html>
<style>
</style>