---
import { supabase } from "../utils/supabase";
import type { User } from "@supabase/supabase-js";
import { getLoginToken, getUser } from "../utils/db";

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
const loginToken = getLoginToken(Astro.request.headers.get('cookie'));
let user: User | null = null;
if (loginToken) {
	user = await getUser(loginToken);
}
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
</head>

<body class="container mx-auto">
	{!!user && <div>
		<div>{user.email}</div>
		<div><a href='/upload'>Upload images</a></div>
	</div>}

	<slot />
</body>

</html>
<style>
</style>