---
import type { User } from "@supabase/supabase-js";
import { checkLogin, getLoginToken, getUser } from "../utils/db";
import Header from "../components/Header";
import '../assets/global.css';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
const loginToken = getLoginToken(Astro.request.headers.get('cookie'));
const loginState = await checkLogin(Astro.request.headers.get('cookie'));
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body class="container mx-auto">
	<header class="my-10 mt-6">
		<Header access={loginState.access} client:idle />
	</header>
	<slot />
</body>

</html>
<style>
</style>