---
import Layout from '../../layouts/Layout.astro';
import { checkLogin } from '../../utils/db';
const cookies = Astro.request.headers.get('cookie');

try {
	const loggedIn = await checkLogin(cookies);
	if (loggedIn.access !== 'account') {
		return Astro.redirect('/');
	}
} catch (e) {
	return Astro.redirect('/');
}
---

<Layout title='Generate Link'>
	<div class="flex justify-center"><button id='generateLink'>generate link</button></div>
</Layout>
<script>
	const btn = document.getElementById('generateLink');
	btn?.addEventListener('click', async () => {
		const { link } = await (await fetch('/api/generate')).json();
		document.body.appendChild(document.createElement('div')).innerHTML = `<a href="/generate/${link}">${link}</a>`;
	});

</script>